:root {
    --height-header: 58px;
    --light-background: #f6f8fa;
    --dark-background: #202223;

    --second-light-background: #fff;
    --second-dark-background: #2f3133;

    --border-color: #E3E7ED;

}